@CHARSET "UTF-8";

	body {font-family:"돋움", dotum; font-size:0.75em; }

	a { text-decoration:none; color:#445F9D; }
	
	label { padding:0; margin:0; position:relative; top:1px; left:0px; }
	input, select {  vertical-align:middle; font-size:1em; font-family:"돋움", dotum; }	
	input { border:solid 1px #D5D5D5; padding:0.2em; }
	input[type="checkbox"], input[type="radio"] { border:0; padding:0; margin:0; }
	
	
	
	#body_wrap { width:100%; margin-left:auto; margin-right:auto; padding:0px; }	
	#header_wrap { width:100%; height:100%; margin:0px; border:solid 0px navy; text-align: center;}
	#middle_wrap { display:inline-block; clear:both; width:100%; padding:0px; margin:0px; text-align:center; border:solid 1px #EFEFEF;}
	#footer_wrap { width:100%; border:solid 0px navy; clear:both; background-color:#f1eff0; text-align:center;}
			

	#sidebar_wrap { float:left; width:23%;  height:100%; margin:0px; background-color: red; padding:1px;}
	#content_wrap { float:left; width:58%;  height:100%;  margin-right:0px; border-left:solid 1px #EFEFEF;background-color: orange ; padding:1px;}
	#content_wrap2 { float:right; width:19%;  height:100%;  margin-right:0px; border-left:solid 1px #EFEFEF; background-color: orange;  padding:1px;}

	

#page{
	width:230px;
	margin:100px auto;
}

#page h1{
	font-weight:normal;
	text-indent:-99999px;
	overflow:hidden;
	background:url('../img/your_product.png') no-repeat;
	width:230px;
	height:36px;
}

#page form{
	margin:20px auto;
	width:200px;
}

.tzSelect{

	/* This is the container of the new select element */

	height:34px;
	display:inline-block;
	min-width:200px;
	position:relative;

	/* Preloading the background image for the dropdown */
	background:url("../img/dropdown_slice.png") no-repeat -99999px;
}

.tzSelect .selectBox{
	position:absolute;

	height:100%;
	width:100%;

	/* Font settings */

	font:13px/34px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align:center;
	text-shadow:1px 1px 0 #EEEEEE;
	color:#666666;

	/* Using CSS3 multiple backgrounds and a fallback */

	background:url('../img/select_slice.png') repeat-x #ddd;
	background-image:url('../img/select_slice.png'),url('../img/select_slice.png'),url('../img/select_slice.png'),url('../img/select_slice.png');
	background-position:0 -136px, right -204px, 50% -68px, 0 0;
	background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;

	cursor:pointer;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.tzSelect .selectBox:hover,
.tzSelect .selectBox.expanded{
	background-position:0 -170px, right -238px, 50% -102px, 0 -34px;
	color:#2c5667;
	text-shadow:1px 1px 0 #9bc2d0;
}

.tzSelect .dropDown{
	position:absolute;
	top:40px;
	left:0;
	width:100%;
	border:1px solid #32333b;
	border-width:0 1px 1px;
	list-style:none;

	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;

	-moz-box-shadow:0 0 4px #111;
	-webkit-box-shadow:0 0 4px #111;
	box-shadow:0 0 4px #111;
}

.tzSelect li{
	height:85px;
	cursor:pointer;
	position:relative;

	/* Again, using CSS3 multiple backgrounds */

	background:url('../img/dropdown_slice.png') repeat-x #222;
	background-image:url('../img/dropdown_slice.png'),url('../img/dropdown_slice.png'),url('../img/dropdown_slice.png');
	background-position: 50% -171px, 0 -85px, 0 0;
	background-repeat: no-repeat, no-repeat, repeat-x;
}

.tzSelect li:hover{
	background-position: 50% -256px, 0 -85px, 0 0;
}

.tzSelect li span{
	left:88px;
	position:absolute;
	top:27px;
}

.tzSelect li i{
	color:#999999;
	display:block;
	font-size:12px;
}

.tzSelect li img{
	left:9px;
	position:absolute;
	top:13px;
}


